.my-node {
  margin-top: 4em;
}
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

/* !Conditional render */
.main_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container {
  padding: 4em 0;
  border: 1px solid rgb(205, 205, 205);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.co_text {
  color: rgb(58, 58, 58);
}

/* portal-text */
.portal-text {
  font-size: 2rem;
}
